.main_section {
  display: flex;
  width: 100%;
  background-color: black;
  height: 100%;
  gap: 10px;
}

.right_side {
  width: 77%;
  height: 83vh;
  background: #000000;
  background: linear-gradient(
    0deg,
    rgb(13, 13, 13) 0%,
    rgba(31, 31, 31, 1) 84%,
    rgb(30, 30, 30) 100%
  );
  border-radius: 10px;
  font-family: sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
